
body{
    font-family: sans-serif; 
    background-color: #f8f9fa;
    
}

.bacqu{
    background-color: #F7F8F9;
}

.w-10{
    width: 300px;
    height: 200px;
}
.bacqua{
    background-color: rgb(214, 217, 217);
}

.bblue{
    background-color: rgb(109, 220, 97);
}

.verde{
    color: rgb(126, 214, 126);
}

